/* ==========================================================================
   #MQ
   ========================================================================== */
/**
 * Configuration for the mq() sass mixin lib:
 * https://github.com/sass-mq/sass-mq
 */


// Breakpoints.
//
// Definitions for a common set of frequently used breakpoints.
// mq() will use the values below to construct the media queries.
//
// From the mq() docs because it just makes sense:
//
// "Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers."
//
// Example usage:
//
// The body background will be red when the viewport size is >= the
// `tablet` breakpoint below and <= the `desktop` breakpoint.
//
// @include mq($from: tablet, $until: $desktop) {
//      body {
//          background: red;
//      }
// }

$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px
);
