/* ==========================================================================
   #GLOBAL
   ========================================================================== */
/**
 * Project level generic configuration settings.
 *
 * This should include configuration for values such as base type styles,
 * UI config values (e.g. for consistent styling of components).
 *
 * These values should be updated on a per project basis.
 */


// Type
//
// Default type styles. These value will be stored against the <html />
// element (as rem units) to define base font size and line height.
//
// 1. The default/global font size value.
// 2. The default/global line height value.
// 3. The default/global letter spacing value.
$project-font-size:      16px;   // [1]
$project-line-height:    30px;   // [2]
$project-letter-spacing: normal; // [3]


// Fonts
//
// 1. Default (fallback) font.
// 2. Webfont name and family declaration.
// 3. The class added to the <html /> element (with JS) when the webfont
//    has successfully loaded.
$project-font: sans-serif;                             // [1]
$project-webfont: 'worksans';                          // [2]
$project-webfont-family: $project-webfont, sans-serif; // [2]
$project-webfont-loaded-class: 'fonts-loaded';         // [3]


// Colours
//
// 1. The default/global text colour.
// 2. The default/global link colour.
$project-text-colour: #333;              // [1]
$project-link-colour: colour(secondary); // [2]


// Spacing.
//
// Defining global spacing units allow us to keep consistent gutters
// (margin,padding) across the elements of the site.
//
// For consistent vertical rhythm, set the default spacing to be
// the same as the line height but if this doesn't work out for the UI
// just change the value.
$project-spacing: 20px !default;

$project-spacing-sm: round($project-spacing * .5);
$project-spacing-md: round($project-spacing * 2);
$project-spacing-lg: round($project-spacing * 3);


// Components.
//
// Add any component specific vars here if they need to be
// globally available.
//
// 1. `site-header`: (Global <header />) height.
// $c-header-height:    90px; // [1]
