/* ==========================================================================
   #MIXINS
   ========================================================================== */
/**
 * A collection of generic/handy(!) mixins.
 */



/**
 * Generate a font size in rem units from a given pixel value.
 * This is a bit of a cut down version of the inuit font-size mixin:
 * https://github.com/inuitcss/inuitcss/blob/develop/tools/_tools.font-size.scss
 *
 * 1. Old IE fallback. Maybe not necessary but we'll leave this in for now (stylint doesn't
 *    like it though).
 * 2. Font size in rem units.
 * 3. If line height is auto (default), generate a baseline-compatible line-height.
 * 4. If line height has another value (not false), use that instead.
 *
 * @param $font-size   [size of font needed in pixels. E.g. 16px]
 * @param $line-height [value for line height (optional)]
 */
/* stylelint-disable */
@mixin font-size($font-size, $line-height: auto) {
    font-size: $font-size; // [1]
    font-size: ($font-size / $project-font-size) * 1rem; // [2]

    // [3]
    @if ($line-height == 'auto') {
        line-height: ceil($font-size / $project-line-height) * ($project-line-height / $font-size);
    }
    // [4]
    @else {
        @if ($line-height != false) {
            line-height: $line-height;
        }
    }
}
/* stylelint-enable */



/**
 * Display related mixins.
 *
 * 1. Visually hide an element. This is an accessibile way of "hiding" an element from view
 *    while keeping it focusable (http://snook.ca/archives/html_and_css/hiding-content-for-accessibility)
 *
 * 2. The boubon.io hide-text mixin only works if the element has a width and height so
 *    this one is just better aint it.
 *
 * 3. http://bourbon.io/docs/#clearfix
 *
 */
// [1]
@mixin visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visually-hidden {
    @include visually-hidden;
}

// [2]
@mixin text-hide {
    background-color: transparent;
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

// [3]
.clearfix {
    @include clearfix;
}



/**
 * Handy media query mixin utility.
 */
@mixin screen-bigger-than($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin screen-smaller-than($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

/* there seems to be a linting bug with calculations in MQ (https://github.com/stylelint/stylelint/issues/742) */
/* stylelint-disable */
@mixin screen-between($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max - 1) {
        @content;
    }
}
/* stylelint-enable */
