/*------------------------------------*\
    #FORM
\*------------------------------------*/
/**
 * Default <form /> styles.
 */
// scss-lint:disable QualifyingElement
form {
    input[type="search"] {
        box-sizing: border-box;
    }

    select option {
        font-size: rem(16px);
    }

    #{$all-text-inputs} {
        appearance: none;
        border: 0;
        border-radius: 0;
        box-sizing: border-box;
        color: #000;
        font-size: rem(16px);
        width: 100%;
    }
}
