{{#extend "layouts/base"}}
{{#content "content"}}
<div class="o-wrapper">
    <h2>Page Not Found</h2>
    <p>Sorry, but the page you were trying to view does not existssss.</p>
</div>
{{/content}}
{{/extend}}
