<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ frontMatter.title }}</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="stylesheet" href="{{ config.paths.css }}/main.css">
</head>
<body>
    <header>
        <h1>This is a header this is</h1>
    </header>

    <main>
    {{#block "content"}}{{/block}}
    </main>

    <footer>&copy;2016</footer>

    <script src="{{ config.paths.js }}/main.bundle.js"></script>
</body>
</html>
