/*------------------------------------*\
    #CONFIG
\*------------------------------------*/
/**
 * Project SASS Configuration settings.
 */



/*------------------------------------*\
    #CONFIG-COLOURS
\*------------------------------------*/
/**
 * Common/brand colours that we'll be using throughout
 * the site.
 */
// scss-lint:disable TrailingSemicolon
@function colour($colour, $shade: 'base') {
    @return map-get(map-get($colours, $colour), $shade);
}

$colours: (
    red: (
        base: #f00,
        light: #efa2a2
    ),
    blue: (
        base: #442cf7,
        light: #adb9f7
    )
);



/*------------------------------------*\
    #CONFIG-BASE
\*------------------------------------*/
/**
 * Base config.
 *
 * 1. lineHeightPX / fontSize
 * 2. Bourbon uses this in their rem() mixin.
 */
@function base-config($param) {
    @return map-get($conf, $param);
}

$conf: (
    fontSize:     16px,
    lineHeightPX: 20px,
    lineHeight:   20px / 16px, // [1]
    textColour:   #000,
    linkColour:   #000,
    baseFont:     sans-serif,
    background:   #fff
);

$em-base: base-config(fontSize); // [2]

