/*------------------------------------*\
    #CONFIG
\*------------------------------------*/
/**
 * Project SASS Configuration settings.
 */
// scss-lint:disable TrailingSemicolon


/*------------------------------------*\
    #CONFIG-COLOURS
\*------------------------------------*/
/**
 * Common/brand colours that we'll be using throughout
 * the site.
 */
@function colour($colour, $shade: 'base') {
    @return map-get(map-get($colours, $colour), $shade);
}

$colours: (
    red: (
        base: #f00,
        light: #efa2a2
    ),
    blue: (
        base: #442cf7,
        light: #adb9f7
    )
);



/*------------------------------------*\
    #CONFIG-BASE
\*------------------------------------*/
/**
 * Base config.
 *
 * 1. Line height in px / font size.
 * 2. Bourbon uses this in their rem() mixin.
 */
@function base-config($param) {
    @return map-get($conf, $param);
}

$conf: (
    font-size:   16px,
    line-height: 22px / 16px, // [1]
    text-colour: #000,
    link-colour: #000,
    base-font:   sans-serif,
    background:  #fff
);

$em-base: base-config(font-size); // [2]



/*------------------------------------*\
    #CONFIG-GRID
\*------------------------------------*/
/**
 * `scss/lib/_grid.scss`
 *
 * 1. Max width of the grid container.
 * 2. Total number of columns we want in our grid.
 * 3. Spacing between grid elements.
 */
@function grid-config($param) {
    @return map-get($grid, $param);
}

$grid: (
    width: 1366px,     // [1]
    columns: 12,       // [2]
    gutter: 15px,      // [3]
    gutter-small: 20px // [3]
);



/*------------------------------------*\
    #CONFIG-BREAKPOINTS
\*------------------------------------*/
@function breakpoint($size, $param: min) {
    @return map-get(map-get($breakpoints, $size), $param);
}

$breakpoints: (
    small: (
        min: 320px,
        max: 740px
    ),
    medium: (
        min: 741px,
        max: 900px
    ),
    large: (
        min: 901px
    )
);

